@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&display=swap');

body {
    background-color: rgb(178, 177, 226);
}

.landing-page {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
    gap: 70px;
}

.nav-top {
    display: flex;
    padding: 0px 100px;
    justify-content: space-between;
    align-items: center;
}


li {
    padding-right: 40px;
    text-decoration: none;
    list-style: none;
}

.frame10 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

header {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: space-around;
    align-content: start;
    align-items: start;
    max-width: 1440px;
  }
  
  .frame13 { grid-area: 1 / 1 / 2 / 3; }
  
  #Illustration { grid-area: 1 / 2 / 2 / 3; }
  
  

.frame13 {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 35px;
}

#Illustration {
    width: 600.462px;
    height: 515px;
    flex-shrink: 0;
    display: block;
}

.logotypes {
    display: flex;
    max-width: 1440px;
    padding: 0px 100px;
    justify-content: space-between;
    align-items: flex-start;
}

button {
    display: flex;
    padding: 20px 35px;
    align-items: flex-start;
    gap: 10px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.heading-subheading {
    display: flex;
    max-width: 1440px;
    padding: 0px 100px;
    align-items: flex-start;
    gap: 40px;
}

.heading{
    border-radius: 7px;
    background: #B9FF66;
}

h1, h2, h3, h4 {
    color: #000;;
    font-family: 'Space Grotesk'; 
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 20px;
    color: #B9FF66; 
}

p {
    color: #000;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.bigger_weight {
    font-weight: 500; 
}

.larger_font {
    font-size: 20px;
}

.smaller_font {
    font-size: 18px;
}

.smallest_font {
    font-size: 16px;
}

.higher_line {
    line-height: 28px;
}

.color_white {
    color: #FFF; 
}

.color_black {
    color: #000; 
}

.underlined {
    text-decoration: underline;
}

.card {
    border-radius: 45px;
    border: 1px solid var(--dark, #191A23);
}

.shadow {
    box-shadow: 0px 5px 0px 0px #191A23; 
}

.gray{
    background: #F3F3F3; 
}

.black {
    background: #191A23; 
}

.green {
    background: #B9FF66; 
}

.white {
    background: #FFF; 
}